body {
  font-family: "Open Sans", sans-serif;

  text-align: center;

  margin: 0;
}

#main {
  width: 626px;

  margin: 64px auto;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  line-height: auto;
  font-weight: medium;
}
